<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Sua Página</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
    </head>
<body class="corpo_padrao">
    <h1>Bem-vindo, {{ nome }}!</h1>
    <h2>Local de utilização: {{tipo}}</h2>

    
        <a href="{{ url_for('cria_aut') }}" class= 'botao'>Incluir Autorização</a>

        <a href=" " class="botao">Validar Autorizações</a>
        <a href="{{ url_for('cadastrar_benef')}}" class="botao">Incluir beneficiario</a>
</body>
</html>
