<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Incluir Autorização</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">  

    <script>
        function atualizarCampos() {
            const tipoUsuario = document.getElementById("tipo_usuario").value;
            const statusField = document.getElementById("statusField");
            const statusInput = document.getElementById("status");

            // Exibe o campo "Status" apenas para "Operadora"
            if (tipoUsuario === "Autorizador") {
                statusField.style.display = "block";
        
            } else {
                statusField.style.display = "none";
                statusInput.value = "EM_ANALISE";  // Define o valor automaticamente como "Em análise"
            }
        }  
    </script>
</head>
<body class="corpo_padrao">

    <div class="cabecalho">
        <h1><a href="{{ url_for('home') }}">Amatiss</a></h1>
    </div>

<h1>Incluir Nova Autorização</h1>
    <form action="{{ url_for('cria_aut') }}" method="POST">
        
        <label for="matricula">Matrícula do Beneficiário:</label>
        <input type="text" id="matricula" name="matricula" required>

        <label for="senha">Senha:</label>
        <input type="text" id="senha" name="senha" required>

        <label for="data_autorizacao">Data da Autorização:</label>
        <input type="date" id="data_autorizacao" name="data_autorizacao" required>

        {% if tipo_usuario == "Autorizador" %}
            <div id="statusField">
                <label for="status">Status:</label>
                <select name="status" id="status">
                    <option value="AUTORIZADO">Autorizado</option>
                    <option value="NEGADO">Negado</option>
                </select>
            </div>
        {% else %}
            <!-- Campo oculto com valor "Em análise" para outros tipos de usuário -->
            <input type="hidden" id="status" name="status" value="EM_ANALISE">
        {% endif %}

        <label for="nome_procedimento">Nome do Procedimento:</label>
        <input type="text" id="nome_procedimento" name="nome_procedimento" required>

        <label for="cod_procedimento">Código do Procedimento:</label>
        <input type="text" id="cod_procedimento" name="cod_procedimento" required>

        <label for="nome_local">Nome do Local:</label>
        <input type="text" id="nome_local" name="nome_local" required>

        <label for="nome_atendente">Nome do Atendente:</label>
        <input type="text" id="nome_atendente" name="nome_atendente" required>

        <br><br>
        <button type="submit" class="botao">Enviar</button>
    </form>
</body>
</html>
